body {
    background-color: #f4ecd8;
    color: #1a1a1a;
    font-family: "Times New Roman", serif;
}
header {
    text-align: center;
    border-bottom: 3px double #cdfd20;
}
nav {
    text-align: center;
    border-bottom: 1px solid #000000;
    padding: 5px;
}
main {
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
}
footer {
    font-style: italic;
    border-top: 1px solid #000000;
    margin-top: 30px;
}
img {
border-radius: 15px;
}

article img, post img {
  max-width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

header, nav {
text-align: left;
}